node_modules/
tsconfig.json
tsconfig.cjs.json
tsconfig.esm.json
src/
lib/
dist/*
!dist/index.d.ts
!dist/index.browser.js
!dist/index.browser.js.map
!dist/index.browser.d.ts
!dist/index.cjs.js
!dist/index.cjs.js.map
!dist/index.cjs.d.ts
!dist/index.esm.js
!dist/index.esm.js.map
!dist/index.esm.d.ts
test*